body{
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #181818;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  
/*HEADER*/
nav ul{
    list-style: none;
}
nav a{
    font-size: 0.8em;
    color:black;
    text-decoration: none;
}
nav a:hover{
    color:#0065FC;
}
nav li:hover{
    border-top: 1px solid #0065FC;
}
.menu .sinscrire{
    color: #0065FC;
    font-weight: bold;
}
.menu li{
    display: inline-block;
    padding: 20px 20px 0px 20px;
    border-top: 1px solid white;
}
.menu-logo{
    display: flex;
    justify-content: space-between;
}
header h1{
    font-family: "Raleway", sans-serif;
    font-size:  1.2rem;
    font-weight: bold;
}
header h2{
    font-size: 0.8rem;
    opacity: 0.5;

}
/*LE FORMULAIRE*/
.formstyle .icone-map{
    border: 0px solid #808080;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius:10px 0 0 10px ;
}
.formstyle input[type="text"] {
    border: 0.5px solid #f2f2f2;
    padding: 5px;
    
}
.formstyle input[type="submit"]{
    padding: 5px;
    border: 0.5px solid #f2f2f2;
    background-color: #0065FC;
    color: white;
    font-family: "Raleway", sans-serif ;
    border-radius: 0 10px 10px 0;
}
.formstyle ::-webkit-input-placeholder{
    font-family: "Raleway", sans-serif ;
    font-weight: bold;
    color: #181818;
}
.formstyle .icone-search{
    display: none;
}
.formstyle{
    display:flex;
}
      /* FILTRES */
.conteneur-filtre{
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    margin:20px 0 20px 0px;
    justify-content: space-between;
    align-items:center;
}
header h3{
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
}
.liste-element{
    text-decoration: none;
    border:1.5px solid #f2f2f2 ;
    padding-right: 15px;
    border-radius: 50px;
    background-color: white; 
    display: flex;
    align-items: center; 
}
a.liste-element:hover{
    color: white;
    background-color:#002fff;
    transition:all 0.2s ease-out;
}
a.liste-element:hover .liste-filtre{
    color:  white;
}
.liste-filtre{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
}
.conteneur-filtre .icone{
    color:#0065FC;
    border: 1px solid #deecff;
    width: 30px;
    padding: 10px 0px 10px 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #DEEBFF ;   
}
header h4 i{
    color: white;
    background-color: blue;
    border-radius: 50%;
}
header h4{
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    opacity: 0.6;
}
/*BLOC DES CARTES HEBERGEMENTS ET POPULAIRES*/
.bloc-hebergement{
    width: 70%;
    border: 1px solid white;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.bloc-populaire{
    width: 25%;
    border: 1px solid #f2f2f2ec;
    background-color: #f2f2f2;
    border-radius: 10px;

}
.bloc-populaire h3{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.bloc-populaire a{
    text-decoration: none;
}
.titre-bloc{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.conteneur-hotel{
    display: flex;
    justify-content: space-around;
}
.conteneur-hotel h2{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 20px;
}
.conteneur-hotel span a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.6em;
    color:black;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 20px;   
}
.groupe-carte-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.groupe-carte-hebergement a{
    text-decoration: none;
}
.carte-hebergement{
    width: 250px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin:5px 10px 10px 5px;
    background-color: white;
    box-shadow:  0px 2px 0px grey;
}
.carte-hebergement img{
    border: 0px solid #f2f2f2;
    border-radius:10px 10px 0 0 ;
    width: 250px;
    height: 120px;
    object-fit: cover;
    
}
.carte-hebergement span{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    display: block;
    margin:1px;
    color: black;
}
.carte-hebergement .nom{
    font-weight: bold;
    margin-left: 5px;
}
.carte-hebergement .tarif{
    opacity: 0.5;
    margin-left: 5px;
}
.carte-hebergement .cinq-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .quatre-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .quatre-etoiles i:nth-of-type(5){
    color: #f2f2f2;
}
.carte-hebergement .trois-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .trois-etoiles i:nth-of-type(4),
.carte-hebergement .trois-etoiles i:nth-of-type(5){
    color: #f2f2f2;
}

.carte-pop img{
    width: 80px;
    height: 100px;
    object-fit: cover;
}
.carte-pop{
    display:flex;
    justify-content: center;
}
.carte-pop{
    width: 200px;
    height: 100px ;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:  0px 2px 0px grey ;
    background-color:#fffffffa;
    overflow: hidden;
    position: relative;
}
.carte-pop figcaption{
    width: 100%;
}
.carte-pop span{
    display: block;
    margin: 5px 0 0 5px;
}
.carte-pop .nom{
    font-family: 'Raleway',sans-serif;
    font-size: 0.7rem;
    color: black;
    font-weight: bold;
}
.carte-pop .tarif{
    font-family: 'Raleway',sans-serif;
    font-size: 0.7rem;
    color: black;
    opacity: 0.5;
}
.carte-pop .cinq-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    position: absolute;
    bottom: 5px;
    margin-left: 5px;  
}
.carte-pop .quatre-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    position: absolute;     
    bottom: 5px;
    margin-left: 5px ;
}
.carte-pop .quatre-etoiles i:nth-of-type(5){
    color: #f2f2f2; 
}
/* BLOC ACTIVITES*/
.carte-large{
    width: 25%;
    height: 350px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 0px grey;
}
.img-large{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.carte-column{
    width: 35%;
    height: 350px;
}
.carte-small{
    height: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 0px grey;
}
.img-small{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.haut-carte{
    height: 180px;
}
.img-medium{
    width: 100%;
    height:150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.conteneur-activite{
    display: flex;
}
.sous-carte-small{
    margin-top: 50px;
}
.sous-carte-extra{
    margin-top: 20px;
}
.img-extrasmall{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.conteneur-activite figcaption{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}
section h4{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}
/* FOOTER */
footer a{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color:black;
    opacity: 0.7;
}
footer h3{
    font-family: "Raleway",sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.conteneur-footer{
    display: flex;
    border: 1px solid #f2f2f2e7;
    background-color: #f2f2f2;
}
.a-propos{
    flex:2;
    margin-left: 10px;
}
.assistance{
    flex:2;
    margin-left: 10px;
}
.nos-hebergements{
    flex:2;
    margin-left: 10px;
}

.bloc-page{
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 1200px)
{
    .bloc-page{
        width: 100%;
    }
    header{
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .conteneur-filtre{
        display:flex;
        flex-wrap:wrap;
        width: 70%;
        margin:20px 0 20px 0px;
        justify-content: space-between;
        align-items:center;
    }

}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    /* FILTRES */
    .conteneur-filtre{
        display:flex;
        flex-wrap:nowrap;
        width: 100%;
        margin:20px 0 20px 0px;
        justify-content: space-between;
        align-items:center;
    }
    /* BLOC HEBERGEMENTS ET POPULAIRES */
    .conteneur-hotel{
        flex-direction: column;
    }
    /* HEBERGEMENTS */
    .bloc-hebergement{
        width: 100%;
        margin-left: 15px;
    }
    .groupe-carte-hebergement{
        justify-content: space-around;
    }
    /* POPULAIRES */
    .bloc-populaire{
        width: 100%;
        margin-left: 15px;
    }
    .titre-bloc{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .bloc-populaire h3{
        margin-left: 5px;
    }
    .groupe-carte-populaire{
        display: flex;
        justify-content: space-around;
    }
} 
@media screen and (min-width: 576px) and (max-width: 767.98px){
    /* FILTRES */
    .conteneur-filtre{
        flex-wrap: nowrap;
        width: 95%;
    }
    /* BLOC HEBERGEMENTS ET POPULAIRES */
    .conteneur-hotel{
        flex-direction: column;
    }
    /* HEBERGEMENTS */
    .bloc-hebergement{
        width: 95%;
        margin:auto;
    }
    /* POPULAIRES */
    .bloc-populaire{
        width: 95%;
        margin: auto;
    }
    .titre-bloc{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .groupe-carte-populaire{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bloc-populaire h3{
        margin-left: 20px;
    }
    /* BLOC ACTIVITES */
    .conteneur-activite{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 575.98px ){
    /*LOGO MENU*/
    .menu-logo{ 
        flex-direction:column ; 
    }
    .logo{
        align-self: flex-start;
    }
    .sinscrire{
        position:absolute;
        right:10px;
        top:15px;
    }
    .menu li:nth-child(2){
        width: 50%;
        text-align: center;
    }
    .menu li:nth-child(1){
        width: 50%;
        text-align: center;
    }
    .menu li{
        padding: 0px;
    }
     ul.menu{
        padding: 0px;
        display: flex;
    }
     nav li:hover{
        border-top: none;
        border-bottom: 1px solid #0065FC;
    }
    header h1{
        font-size: 1.3rem;
        width: 100%;
    }
    header h2{
        width: 100%;
    }
    /* FORMULAIRE */
    .formstyle input[type="submit"]{
        display: none;
    }
    .formstyle .icone-search{
        display: flex;
        color: white;
        border: 0px solid #f2f2f2;
        padding: 5px;
        background-color: #0065FC;
        border-radius: 5px ;
    }
    /* FILTRES */
    .conteneur-filtre{
        width: 260px;
    }
    header h3{
        width: 100%;
    }
    /* BLOC HEBERGEMENTS ET POPULAIRES */
        
    .conteneur-hotel{
        flex-direction: column-reverse;    
    }
    /* POPULAIRES */
    .bloc-populaire{
        width: 95%;
        margin: auto;
    }
    .carte-pop{
        width:90% ;
        margin-left: 10px;
    }
    .titre-bloc{
        display: flex;
        width: 93%;
        justify-content: space-between;
        padding-left: 10px;
    }
    
    .carte-pop figcaption{
        width: 60% ; 
    }
    .carte-pop img{
        width:40% ;
    }
    .carte-pop .nom{
        font-size:0.8rem;   
    }
    .carte-pop .tarif{
        font-size: 0.8rem ;
    }
    /* HEBERGEMENTS */
    .bloc-hebergement{
        width: 95%;
        margin: auto;
        border: none;
        background-color: #fffffffa;
    }
    .conteneur-hotel h2{
        margin-left: 10px;
    }
    .conteneur-hotel span a{
        margin-left: 5px;
    }
    .carte-hebergement{
        width: 95%;
    }
    .carte-hebergement img{
        width: 100%;
    }
    /* BLOC ACTIVITES */
    .conteneur-activite{
        flex-direction: column;
    }
    section h4{
        margin-left: 15px;
    }
    .carte-large{
        width: 95%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    .img-large{
        height: 155px;
        width: 100% ;
    }
    .carte-column{
        width: 100%;
        height: auto;
    }
    .carte-small{
        width: 95%;
        margin-left:auto;
        margin-right: auto;
    }
    .img-medium{
        width: 100%;
    }
    .img-small{
        width: 100%;
    }
    /* FOOTER */
    .conteneur-footer{
        flex-direction: column;
    }
}