body{
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #181818;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  
/*HEADER*/
nav ul{
    list-style: none;
}
nav a{
    font-size: 0.8em;
    color:black;
    text-decoration: none;
}
nav a:hover{
    color:#0065FC;
}
nav li:hover{
    border-top: 1px solid #0065FC;
}
.menu .sinscrire{
    color: #0065FC;
    font-weight: bold;
}
.menu li{
    display: inline-block;
    padding: 20px 20px 0px 20px;
    border-top: 1px solid white;
}
.menu-logo{
    display: flex;
    justify-content: space-between;
}
header h1{
    font-family: "Raleway", sans-serif;
    font-size:  1.2rem;
    font-weight: bold;
}
header h2{
    font-size: 0.8rem;
    opacity: 0.5;

}
/*LE FORMULAIRE*/
.formstyle .icone-map{
    border: 0px solid #f2f2f2;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius:10px 0 0 10px ;
}
.formstyle input[type="text"] {
    border: 0.5px solid #f2f2f2;
    padding: 5px;
    
}
.formstyle input[type="submit"]{
    padding: 5px;
    border: 0.5px solid #f2f2f2;
    background-color: #0065FC;
    color: white;
    font-family: "Raleway", sans-serif ;
    border-radius: 0 10px 10px 0;
}
.formstyle ::-webkit-input-placeholder{
    font-family: "Raleway", sans-serif ;
    font-weight: bold;
    color: #181818;
}
.formstyle .icone-search{
    display: none;
}
.formstyle{
    display:flex;
}
      /* FILTRES */
.conteneur-filtre{
    display:flex;
    flex-wrap: wrap;
    width: 70%;
    margin:20px 0 20px 0px;
    justify-content: space-between;
    align-items:center;
}
header h3{
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
}
.liste-element{
    text-decoration: none;
    border:1.5px solid #f2f2f2 ;
    padding-right: 15px;
    border-radius: 50px;
    background-color: white; 
    display: flex;
    align-items: center; 
}
a.liste-element:hover{
    color: white;
    background-color:#002fff;
    transition:all 0.2s ease-out;
}
a.liste-element:hover .liste-filtre{
    color:  white;
}
.liste-filtre{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
}
.conteneur-filtre .icone{
    color:#0065FC;
    border: 2px solid #DEEBFF;
    width: 30px;
    padding: 10px 0px 10px 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #DEEBFF ;   
}
header h4 i{
    color: white;
    background-color: blue;
    border-radius: 50%;
}
header h4{
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    opacity: 0.6;
}
/*BLOC DES CARTES HEBERGEMENTS ET POPULAIRES*/
.bloc-hebergement{
    width: 70%;
    border: 1px solid white;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.bloc-populaire{
    width: 25%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px;

}
.bloc-populaire h2{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 40px;
    padding-right: 60px;
}
.bloc-populaire a{
    text-decoration: none;
}
.bloc-populaire i{
    float: right;
}
.conteneur-hotel{
    display: flex;
    justify-content: space-around;
}
.conteneur-hotel h1{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 20px;
}
.conteneur-hotel span a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.6em;
    color:black;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 20px;   
}
.groupe-carte-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.groupe-carte-hebergement a{
    text-decoration: none;
}
.carte-hebergement{
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
    margin:5px 10px 10px 5px;
    background-color: white;
    box-shadow:  0px 2px 0px grey;
}
.carte-hebergement img{
    border: 0px solid #f2f2f2;
    border-radius:10px 10px 0 0 ;
    width: 250px;
    height: 120px;
    object-fit: cover;
    
}
.carte-hebergement span{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    display: block;
    margin:1px;
    color: black;
}
.carte-hebergement .nom{
    font-weight: bold;
    margin-left: 5px;
}
.carte-hebergement .tarif{
    opacity: 0.5;
    margin-left: 5px;
}
.carte-hebergement .cinq-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .quatre-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .quatre-etoiles i:nth-of-type(5){
    color: #f2f2f2;
}
.carte-hebergement .trois-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    margin: 5px;
}
.carte-hebergement .trois-etoiles i:nth-of-type(4),
.carte-hebergement .trois-etoiles i:nth-of-type(5){
    color: #f2f2f2;
}

.carte-pop img{
    width: 80px;
    height: 100px;
    object-fit: cover;
}
.carte-pop{
    display:flex;
    justify-content: center;
}
.carte-pop{
    width: 200px;
    height: 100px ;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:  0px 2px 0px grey ;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.carte-pop span{
    display: block;
    margin: 5px 0 0 5px;
}
.carte-pop .nom{
    font-family: 'Raleway',sans-serif;
    font-size: 0.7rem;
    color: black;
    font-weight: bold;
}
.carte-pop .tarif{
    font-family: 'Raleway',sans-serif;
    font-size: 0.7rem;
    color: black;
    opacity: 0.5;
}
.carte-pop .cinq-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    position: absolute;
    bottom: 5px;
    left: 85px;  
}
.carte-pop .quatre-etoiles{
    font-size: 0.5em;
    color: #0065FC;
    position: absolute;
    bottom: 5px;
    left: 85px;     
}
.carte-pop .quatre-etoiles i:nth-of-type(1){
    color: #f2f2f2; 
}
/* BLOC ACTIVITES*/
.carte-large{
    width: 25%;
    height: 350px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 0px grey;
}
.img-large{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.carte-column{
    width: 35%;
    height: 350px;
}
.carte-small{
    height: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 0px grey;
}
.img-small{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.haut-carte{
    height: 180px;
}
.img-medium{
    width: 100%;
    height:150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.conteneur-activite{
    display: flex;
}
.sous-carte-small{
    margin-top: 50px;
}
.sous-carte-extra{
    margin-top: 20px;
}
.img-extrasmall{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}
.conteneur-activite figcaption{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}
section h3{
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}
/* FOOTER */
footer a{
    font-family: "Raleway", sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color:black;
    opacity: 0.7;
}
footer h3{
    font-family: "Raleway",sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.conteneur-footer{
    display: flex;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}
.a-propos{
    flex:2;
    margin-left: 10px;
}
.assistance{
    flex:2;
    margin-left: 10px;
}
.nos-hebergements{
    flex:2;
    margin-left: 10px;
}

.bloc-page{
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 1200px)
{
    .bloc-page{
        width: 100%;
    }
    header{
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px) and (max-wdth: 1199.98px){
    .bloc-page{
        width: 100%;
    }
    .conteneur-filtre{
        display:flex;
        flex-wrap:wrap;
        width: 70%;
        margin:20px 0 20px 0px;
        justify-content: space-between;
        align-items:center;
    }

}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .conteneur-filtre{
        display:flex;
        flex-wrap:nowrap;
        width: 100%;
        margin:20px 0 20px 0px;
        justify-content: space-between;
        align-items:center;
    }
    .conteneur-hotel{
        flex-direction: column;
    }
    .bloc-hebergement{
        width: 100%;
        margin-left: 20px;
    }
    .groupe-carte-hebergement{
        justify-content: space-around;
    }
    .bloc-populaire{
        width: 100%;
        margin-left: 20px;
    }
    .bloc-populaire h2{
        margin-left: 20px;
    }
    .groupe-carte-populaire{
        display: flex;
        justify-content: space-around;
    }

} 
@media screen and (min-width: 576px) and (max-width: 767.98px){
    .conteneur-filtre{
        flex-wrap: nowrap;
        width: 100%;
    }
    .conteneur-hotel{
        flex-direction: column;
    }
    .bloc-hebergement{
        width: 100%;
        margin-left: 0px;
    }
    .bloc-populaire{
        width: 100%;
        margin-left: 0px;
    }
    .groupe-carte-populaire{
        display: flex;
        flex-wrap: wrap;
    }
    .conteneur-activite{
        flex-wrap: wrap;
        justify-content: center;
    }
    .bloc-populaire h2{
        
    }
}

@media screen and (max-width: 575.98px ){
    
    .menu-logo{ 
        flex-direction:column ; 
    }
    .logo{
        align-self: flex-start;
    }
    .sinscrire{
        position:absolute;
        right:0;
        top:15px;
    }
    .menu li:nth-child(2){
        width: 50%;
        text-align: center;
    }
    .menu li:nth-child(1){
        width: 50%;
        text-align: center;
    }
    .menu li{
        padding: 0px;
    }
     ul.menu{
        padding: 0px;
        display: flex;
    }
    nav li:hover{
        display:
    }
    nav li:hover{
        border-top: none;
        border-bottom: 1px solid #0065FC;
    }
    header h1{
        font-size: 1.5rem;
    }
    .formstyle input[type="submit"]{
        display: none;
    }
    .formstyle .icone-search{
        display: flex;
        color: white;
        border: 0px solid #f2f2f2;
        padding: 5px;
        background-color: #0065FC;
        border-radius: 5px ;
    }
    
    .conteneur-filtre{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
    a .liste-element:nth-child(2){
         ;
    }
    
        
    .conteneur-hotel{
        flex-direction: column-reverse;
        
    }
    .bloc-populaire{
        width: 100%;
        margin-left: 20px;
    }
    .carte-pop{
        width: ;
    }
    .carte-pop img{
        width: ;
    }
    .carte-pop span{
    
    }
    .bloc-hebergement{
        width: 100%;
        margin-left: 10px;
        border: none;
        background-color: white;
    }
    .carte-hebergement{
        width: 100%;
    }
    .carte-hebergement img{
        width: 100%;
    }
    .conteneur-footer{
        flex-direction: column;
    }
    .conteneur-activite{
        flex-direction: column;
    }
    .carte-large{
        width: 100%;
        height:auto;
        margin-left: 10px;
    }
    .img-large{
        height: 155px;
        width: 100% ;
    }
    .carte-column{
        width: 100%;
        height: auto;
    }
    .carte-small{
        width: 100%;
        margin-left: 10px;
    }
    .img-medium{
        width: 100%;
    }
    .img-small{
        width: 100%;
    }
}